body {
  background-color: #2F3242;
}
.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -100px;
  margin-right: 50px;
  color: #FFF;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 36px;
  margin-bottom: 40px;
}
.start_button{
  margin-top: 20px;
}

@keyframes float {
	100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  .message-box {
    top: 50%;
    right: 50%;
    margin-top: -100px;
    margin-right: -190px;
    text-align: center;
  }
}
